.h {
  display: grid;
  width: 100%;
  grid-template-columns: 1.3fr 2fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: #F0E6D2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  gap: 1rem;
}

.box-shadow {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.h > h3 {
  font-family: 'Candal', sans-serif;
  width: 100%;
  color: #c17732;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: -0.4rem;
  text-align: start;
  position: relative;
}

.input-container {
  position: relative;
  margin: .25rem .5rem;
  max-width: 275px;
}

.input-container > input {
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #994c26;
    width: 100%;
    line-height: 1rem;
    font-size: 1.2rem;
    height: 2.5rem;
    padding-left: .5rem;
    outline: none;
}
  
.h > .input-container > input::placeholder {
    color: #35220880;
    font-size: 1.2rem;
}

/* .h > input > option {
  background-color: #F4E3C1;
  color: #3B1A07;
} */

.registrationList {
  background-color: #f0e6d2;
}

.registrationList > li {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
  line-height: 1.75rem;
  height: 1.75rem;
  font-family: 'Secular One', sans-serif;
  overflow: hidden;
}

.registrationList > li > button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f0e6d2;
  height: 2rem;
}

.registrationList > li > button img {
  width: 1.25rem;
}

.registrationList > .list-header {
  background-color: #c17732;
  color: #f0e6d2;
  text-align: center;
}

.registrationList > li:not(:first-child) span {
  padding-left: 0.5rem;
  border-bottom: 2px solid #c17732;
  overflow: hidden;
  border-right: 2px solid #c17732;
}

.registrationList > li:not(:first-child) span:nth-child(2) {
  padding-left: 2rem;
}

.registrationList > li:not(:first-child) span:nth-child(6) {
    border-right: none;
    text-align: center;
}

.salvar {
  display: flex;
  align-items: center;
  margin: 0 1rem 0.5rem auto;
  background: #994c26;
  color: #f0e6d2;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: 'Secular One', sans-serif;
  font-size: 24px;
  cursor: pointer;
  height: 2.5rem;
}

.suggestions-list {
  position: absolute;
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  background-color: #F4E3C1;
  border: 1px solid #A65D24;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.suggestions-list li {
  padding: 0.5rem;
  overflow: hidden;
  width: 100%;
  color: #3B1A07; /* Text color matching your theme */
  font-family: "Secular One", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestions-list li:hover {
    background-color: #D88F52; /* Hover color matching form theme */
}

.box-shadow .error-message {
  font-family: 'Candal', sans-serif;
  color: #f0e6d2;
  text-align: center;
  background-color: #994c26;
  border-radius: 5px;
}
