.event-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 1 auto;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: #f0e6d2;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .event-card {
        max-width: min-content;
    }
    .options2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.event-card .event-img {
    aspect-ratio: 16/9;
    height: 250px;
    border-radius: 10px;
}

.event-info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.25rem;
}

.event-info > h3 {
    font-family: "Candal", sans-serif;
    color: #994c26;
    font-size: 48px;
    text-transform: uppercase;
}

.event-info > p {
    display: flex;
    flex-shrink: 1;

    font-size: 1.5rem;
    font-family: "Afacad", sans-serif;
}

.event-info p > b {
    margin-right: 0.25rem;
}

.options2 {
    position: absolute;
    display: flex;
    gap: 1rem;
    right: 1rem;
}

.options2 > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
