.landing-header-no-nav {
    display: flex;
    background-color: #1D7874;
    flex-direction: column;
    color: #F0E6D2;
}

.landing-header-no-nav > div {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.landing-header-no-nav > div > img {
    width: 80px;
    height:80px;
}

.landing-header-no-nav > div > h1 {
    font-family: "Londrina Solid", sans-serif;
    font-size: 4rem;
    position: relative;
    bottom: -20px;
}

.landing-header-no-nav > div > span {
    font-family: "Secular One", sans-serif;
    font-size: 1.5rem;
}

.landing-header-no-nav >  div > span:hover{
    font-weight: bolder;
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .landing-header-no-nav {
        flex-direction: column-reverse;
    }
} */
