.signed-in-header {
    display: flex;
    background-color: #1D7874;
    flex-direction: column;
    color: #F0E6D2;
}

.signed-in-header > div {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.signed-in-header > div > img {
    width: 80px;
    height:80px;
}

.signed-in-header > div > h1 {
    font-family: "Londrina Solid", sans-serif;
    font-size: 4rem;
    position: relative;
    bottom: -20px;
}

.signed-in-header >  div > img:hover{
    cursor: pointer;
}

.signed-in-header >  div > .img-profile:hover + .dropdown-profile{
    display: block;
}
.dropdown-profile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.dropdown-profile:hover{
    display: block;
}

.signed-in-header > img {
    position: relative;
    bottom: -16px;
    max-width: 100%;
    object-fit: contain;
}

/* @media (max-width: 800px) {
    .signed-in-header {
        flex-direction: column-reverse;
    }
} */
