.h {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: #F0E6D2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.box-shadow {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.h > h3 {
  font-family: 'Candal', sans-serif;
  color: #c17732;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: -0.4rem;
}

.h > input {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #994c26;
  line-height: 1rem;
  font-size: 1.2rem;
  height: 2.5rem;
  margin: 0 auto 0.5rem 1rem;
  outline: none;
}

.h > input::placeholder {
  color: #35220880;
  font-size: 1.2rem;
}

.registrationList {
  background-color: #f0e6d2;
  padding-bottom: 1rem;
}

.registrationList > li {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  line-height: 1.75rem;
  height: 1.75rem;
  font-family: 'Secular One', sans-serif;
}

.registrationList > li > button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f0e6d2;
  height: 2rem;
}

.registrationList > li > button img {
  width: 1.25rem;
}

.registrationList > .list-header {
  background-color: #c17732;
  color: #f0e6d2;
  text-align: center;
}

.registrationList > li:not(:first-child) span {
  padding-left: 0.5rem;
  border-bottom: 2px solid #c17732;
  overflow: hidden;
}

.registrationList > li:not(:first-child) span:nth-child(2) {
  padding-left: 2rem;
}

.registrationList > li:not(:first-child) span:nth-child(3) {
  border-left: 2px solid #c17732;
  border-right: 2px solid #c17732;
}

.salvar {
  display: flex;
  align-items: center;
  margin: 0 1rem 0.5rem auto;
  background: #994c26;
  color: #f0e6d2;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: 'Secular One', sans-serif;
  font-size: 24px;
  cursor: pointer;
  height: 2.5rem;
}
