.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 0 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.slider-container > img {
    position: relative;
    width: 100%;
    bottom:-5px;
}

.slider {
    display: flex;
    width: 80%;
    gap: 20px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
}
.slider > img{
    width: 35px;
    height: 35px;
}

.arrow {
    width: 45px;
    position: relative;
    transition: .2s;
}
.arrow:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.slider > .event {
    display: flex;
    gap: 5%;
    height: 100%;
}
.slider > .event > img {
    width: 55%;
    border-radius: 10px;
}
.slider > .event > .event-description {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content:center;
}
.slider > .event > .event-description > h2 {
    color: #994C26;
    font-size: 3rem;
    font-family: "Candal", sans-serif;  
    width: 100%;    
    overflow: hidden;              /* Oculta qualquer conteúdo que ultrapasse o contêiner */
    display: -webkit-box;          /* Usa o layout flexível para texto */
    -webkit-box-orient: vertical;  /* Define a orientação do box como vertical */
    -webkit-line-clamp: 2;       
}
.slider > .event > .event-description > span {
    color: #352208;
    font-size: 1.5rem;
    font-family: "Afacad", sans-serif;
    width: 400px;
    overflow: hidden;        /* Oculta qualquer texto que exceda o contêiner */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto cortado */
}