.container-register-page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/backgrounds/bg-user-register.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 5vh 0;
    position: relative;
}
.container-register-page > .return-btn{
    position: absolute;
    top: 60px;
    left: 60px;
}