.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F0E6D2;
    color: #352208;
    text-align: center;
    font-family: "Secular One", sans-serif;
}

.not-found-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #1D7874;
}

.not-found-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.not-found-container a {
    padding: 10px 20px;
    background-color: #C17732;
    color: #F0E6D2;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}

.not-found-container a:hover {
    background-color: #994C26;
    cursor: pointer;
}