.container-user-page {
    display: flex;
    padding: 80px 0;
    background-image: url("../assets/img/backgrounds/bg-user-page.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 40px;
}
.container-user-page > .filter{
    display: flex;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    background-color: #F0E6D2;
    position: relative;
    top: -80px;
    width: fit-content;
    max-width: 300px;
}
.container-user-page > .filter > .detail {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.container-user-page > .filter > .detail button {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #994C26;
    color: #F0E6D2;
    font-family: "Secular One", sans-serif;
    font-size: 24px;
    cursor: pointer;
}
.container-user-page > .filter > .detail > .search {
    display: flex;
    gap: 20px;
}
.container-user-page > .filter > .detail > .search > input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: solid #C17732;
    width: 100%;
    padding: 5px;
}

.container-user-page > .users-space {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container-user-page > .users-space > .users{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

@media (max-width: 1250px) {
    .container-user-page {
        display: flex;
        flex-direction: column;
    }
  }
@media (max-width: 940px) {
    .container-user-page > .users-space > .users{
        grid-template-columns: 1fr;
    }
  }
@media (min-width: 1700px) {
    .container-user-page > .users-space > .users{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }